.weather-header {
    background: linear-gradient(to right, #e23e15, #2c80e7);
    color: white;
    text-align: center;
    padding: 20px;

}
.weather-header h1 {
    margin: 0;
}
.form-search {
    margin-top: 10px;
    padding: 10px 0;
}
.form-search label {
    font-weight: bold;
    font-size: 25px;
}
.search-btn {
    width: 100%;
}
.current-city {
    border: black 1px solid;
   color: black;
   margin: 10px;
   margin-left: 0 ;
   padding: 10px;
}
.day-forecast {
    background-color: rgb(6, 36, 102);
    color: white;
    margin: 10px;
    padding: 5px;
}